.contador{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: #02ECFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #02ECFF;
    margin-bottom: 15px;
}